:root
{
    --mainColor:#152028;
    /* --mainColor:#2d9ceb; */

    --secondaryColor:#192734;

    --borderColor:#164D56;

    --mainText:#fff;
    --mainpara:#000000;

    --secondaryText:#cabebe;
    
    --themedotborder:#fff;

    --previewBg:rgb(25,39,52,0.8);
    --previewShadow:#111921;

    --buttonColor:#17a2b8;

}


